.colage{
    width: 220px;
    height: 220px;
    border: 2px solid black;
    margin: 30px;
    position: relative; //Прописываем чтобы картинки мерялись относительно блока в котором они находятся 

    &__image{
        width: 200px;
        height: 200px;
        border: 1px solid red;
        position: absolute;           //после релатив мы выравниваем по осям x и y, а absolute тоже выравнивание по ося только картинки забивабт друг на друга
        left: 0;
        right: 0;
        transition: 0.3s;

        &:hover{
            z-index: 1;             //для работы со слоями
            transform: scale(1.2) translateX(30px)     //для увеличения на 1.5 раза
        }

        &_first{
            left: 0;
            top: 0;
        }

        &_second{
            left:10px;
            top:10px;
        }                                   //создали дополнительные модификаторы для второй и третьей картинки

        &_therd{
            left:20px;
            top:20px;
        }
    }
}



.modal{
    margin: 30px;
    width: 300px;
    height: 200px;
    box-shadow: 0 0 15px 0 black;
    position: relative;

    &::after{                                    //псевдо класс 
        content: '_';                             //для того чтобы заработал псевдокласс 
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: blue;
        color: white;
        font-weight: bold;
        position: absolute;
        right: 15px;
        top: -10px;
        box-shadow: 0 0 5px 0 grey;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &::before{                                    //псевдо класс 
        content: '\2744';                             //для того чтобы заработал псевдокласс 
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: red;
        color: white;
        font-weight: bold;
        position: absolute;
        right: -10px;
        top: -10px;
        box-shadow: 0 0 5px 0 grey;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

                               //transform свойство для перемещения эл-та или увеличения, его преимущество что при использование этого свойства элт не влияет на другие э-ты

.clip{
    width: 200px;
    height: 100px;
    background-image: url('../imagis/s1200\ \(1\).jpg');
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    margin:30px;
    clip-path: polygon(0 0, 100% 50%, 0 100%);            //позыоляет делать из фото сложную фигуру,полигон используется для угловатых фигур
}

.container{
    width: 100%;
    border: 2px solid red;
    margin: 30px;
    display: flex;              //прив флексе мы сразу получаем нижние свойства
    flex-direction: row;                  //при добавлении к свойству реверс, то происходит перевород
    justify-content: space-between;   //горизонталь
    align-items: center;              //вертикаль
    flex-wrap: nowrap;
    height: 300px;
   // padding: 0 20px;
   // box-sizing: border-box;          //когда нужен отступ при space-between 

    &__item{
        width: 100px;
        height: 100px;
        background-color: grey;
        font-size: 20px;
        font-weight: bold;
        border: 2px solid black;
        display: inline-block;             //Для того чтобы дивы были строчными и сохранили размер

     }
}